SUPABASE_URL=your_supabase_project_url
SUPABASE_ANON_KEY=your_supabase_anon_key
NODE_ENV = production/development
JWT_REFRESH_SECRET=Refresh_token_secret_key
JWT_RESET_SECRET=Reset_token_secret_key
JWT_ACCESS_SECRET=Access_token_secret_key
JWT_CONFIRM_SECRET=email_confirm_token_secret_key
PORT= (your_port)
SESSION_MAX_AGE_DAYS=7
ORIGIN=hosted url whether its localhost or production
GMAIL_CLIENT_ID= (From Google Cloud)
GMAIL_CLIENT_SECRET= (From Google Cloud)
GMAIL_REFRESH_TOKEN= (From the Playground)
EMAIL_USER= (Your Gmail address)